body {
  background-color: white;
  font-family: "gill sans", sans-serif;
}

html, body {width: auto!important; overflow-x: hidden!important}

.header {
  margin: 100px;

}

  .sidenav {
    height: 100%;
    width: 260px;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: none;
    overflow: auto;
  }

.sidenav img{
  width: 150px;
  float: none;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
 border: 3px white;
 padding: 0px;
}

.static {
  width: 70%;
  position:absolute;
  background:
}

.static:hover {
  opacity:0;
}

.sidenav a {
  padding: 0px 10px 10px 25px;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2px;
  color: #775b44;
  display: block;
}

.sidenav a:hover {
  color: #da8181;
}

.main {
  margin-left: 260px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 0px;
}
.insta img {
  width: 12%;
  height: 12%;
}

.insta:hover {
    opacity: 0.5;
}

/* SLUTET PÅ SIDMENYN*/

.container {
  margin-left: 40PX;
  height: 800px;
  padding: 0px;

}

.medelstor {
  width: 49%;
}
.liten {
  width: 33%;
}
.stor {
  vertical-align: middle TOP;
  width: 100%;
}

.myfooter {
  border-top: 1px;
  padding-bottom: 20px;
    vertical-align: right;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    float: none;
    padding-top: 50px;
    margin: 0;
    position: relative;
  }

  .sideimg a {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  div.links {
    margin: auto;
    float: none;
  }
  div.sideimg img .active {
    float: right;
    height: 50%;
  }
  .insta {
    float: none;
    width: 50%;
  }
  div.container {
    margin: 0;
  }
.img-box-liten {
  width: 100%;
}
.img-box-medel {
  width: 100%
}
.img-box-stor {
  width: 100%
}
.footerimage {
  display: none;
}

}

/*FLYGANDE RALL GIF*/

.footerimage img {
  width: 10%;
  position: fixed;
  right: 0px;
  bottom: 10px;
  z-index:1000
}

.still {
  position: absolute;
  z-index: 1;
}

.still:hover {
  opacity: 0;
}
.moving {
  position:absolute;
}
/*SLUT RALL KNAPP*/

.myfooter {
  width: 100%;
  height: 30px;
}



/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidenav {
    width: 100%;
    height: auto;
    float: none;
    margin: 0;
    position: relative;
  }
  .sideimg a {
    float: right;
  }
  .links {
    margin: auto;
    float: none;
  }
  .sideimg img .active {
    float: right;
    height: 50%;
  }
  .insta {
    float: none;
    width: 50%;
  }
  div.container {
    margin: 0;
    width: 100%;
  }

}
