body {
  background-color: #fafaf6 !important;
  font-family: 'Spectral', serif !important;
}

html, body {width: auto!important; overflow-x: hidden!important}

/*
html {
  cursor: url("img/welcome.png"), default;
}*/

/* Menyn style */



@font-face {
  font-family: 'ramonabold';
  src: url('/font/webfontkit-20210408-153600/ramona-bold-webfont.woff2') format('woff2'),
       url('/font/webfontkit-20210408-153600/ramona-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/* Custom Navmenu */
.custom-navmenu {
  background: #303030
}

.custom-navmenu .custom-menu, .custom-navmenu .custom-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.custom-navmenu .custom-menu li {
  margin-bottom: 0;
  font-size: 20px;
}

.custom-navmenu .custom-menu li a {
  color: #fff;
  padding: 10px 0 !important;
}

.custom-navmenu .custom-menu li a:hover {
  text-decoration: none;
}

.custom-navmenu .custom-menu li.active a {
  text-decoration: underline;
}

.custom-navmenu h3 {
  font-size: 20px;
  color: #fafaf6;
}

.custom-navmenu p1 {
  color: #fafaf6;
}

.custom-navmenu p2 {
  color: #faf3fe;
  font-size: 14px;
}

.custom-navmenu a {
  color: rgba(255, 255, 255, 0.7);
}

.custom-navmenu a:hover {
  color: #fff;
}

/* Custom Navbar */
.custom-navbar {
  padding-top: 50px;
  width: 100%;
}

@media (max-width: 780px) {
  .custom-navbar > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

.custom-navbar .navbar-brand {
  font-size: 1.7rem;
}

/* Burger */
.burger {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative;
}

.burger:before, .burger span, .burger:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #000;
  border-radius: 2px;
  position: absolute;
  opacity: 1;
}

.burger:before, .burger:after {
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: "";
}

.burger:before {
  top: 4px;
}

.burger span {
  top: 15px;
}

.burger:after {
  top: 26px;
}

/* Hover */
.burger:hover:before {
  top: 7px;
}

.burger:hover:after {
  top: 23px;
}

/* Click */
.burger.active span {
  opacity: 0;
}

.burger.active:before, .burger.active:after {
  top: 40%;
}

.burger.active:before {
  transform: rotate(45deg);
}

.burger.active:after {
  transform: rotate(-45deg);
}

.burger:focus {
  outline: none;
}

/* Storlek det vita header*/


.section {
  padding: 7rem 0;
}

/* tant img */
.navbarimg {
  width: 90px;
}

.static {
  position: absolute;
  z-index: 1;
}

.static:hover {
  opacity:0;
}


.navbar p1:hover {
  color: rgb(165, 139, 139);
  text-decoration: none;
}


h1 {
  color: #303030;
  font-size: 60px !important;
  letter-spacing: 1px;
  font-family: 'ramonabold';
}

h2 {
  color:  #303030;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Spectral', serif;

}

h3 {
  color:   #303030;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: 'ramonabold';
}

h4 {
  color:  #303030;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Spectral', serif;

}

.section button h3:hover {
  text-decoration: none !important;

}

/*
  'ZCOOL QingKe HuangYou', cursive;
  font-family: 'Lacquer', cursive;
  font-family: 'Barriecito', cursive;
  font-family: 'Do Hyeon', sans-serif;
   font-family: 'cabin', sans-serif;
font-family: 'Amiri', serif;
font-family: 'Overpass Mono', monospace;
font-family: 'Crete Round', serif;
font-family: 'Arbutus Slab', serif;
font-family: 'Spectral', serif;

  font-family: 'puritan', sans-serif;
    font-family: 'lato', sans-serif;

  */


/* Scroll i toppen */

.roll {
  background-color: none;
  height: 40px;
  width: 100%;
  position: fixed;
}

p2 {
  color: #775b44;
  font-size: 10px;
  letter-spacing: 1px;
  font-family: 'Spectral', serif !important;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: rgb(165, 139, 139);
} 

.content p2:hover {
  color: rgb(165, 139, 139);
}

a.footera:link {color:#775b44;}
a.footera:visited {color:#775b44;}
a.footera:hover  {color:rgb(165, 139, 139);}


p1 {
  color: #775b44;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Spectral', serif !important;
  text-decoration: none;
  font-weight: 400;
}

/* font-family: 'cabin', sans-serif;*/

p3 {
  color: #775b44;
  font-size: 9px;
  letter-spacing: 1px;
  font-family: 'Spectral', serif !important;
  font-weight: 400;
}

p4 {
  color: #3a3a3a;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: 'Spectral', serif !important;
  text-decoration: none;
  font-style: italic;
  font-weight: 200;
}


/* Kategorier work */


.filters a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}


.filters a:hover, .filters a:focus, .filters a:active {
  text-decoration: none;
}

.filters a:hover:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.filters a.active {
  color: #000;
}

.filters a.active:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}


.item {
  border: none;
  margin-bottom: 30px;
}

.item .item-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: .3s all ease-in-out;
}

.item .item-wrap img {
  transition: .3s transform ease;
  transform: scale(1);
}

.item .item-wrap > .work-info {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 3;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  transition: .3s all ease;
}

.item .item-wrap > .work-info h3 {
  font-size: 24px;
  color: #faf3fed9;
  margin-bottom: 0;
}

.item .item-wrap > .work-info span {
  font-size: 8px;
  color: #faf3fedb;
  
}

.item .item-wrap > .work-info p1 {
  color: #faf3fecf;
}


.item .item-wrap:hover {
  text-decoration: none;
}

.item .item-wrap:hover img {
  transform: scale(1.05);
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item .item-wrap:hover .work-info {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}

.testimonial-wrap {
  padding: 50px 50px 80px 50px;
  background: #eceff2;
}

.testimonial-wrap .testimonial {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.testimonial-wrap .testimonial img {
  border-radius: 50%;
  width: 120px;
  margin: 0 auto 30px auto;
}

.testimonial-wrap .testimonial blockquote p {
  font-size: 20px;
}

/* Slut work kategori */ 

/* Vet ej vad detta är */


.readmore {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  transition: .2s all ease;
  font-weight: 700;
}

.readmore:active, .readmore:focus, .readmore:hover {
  outline: none;
}

.readmore:hover {
  color: #fff;
  text-decoration: none;
  background: #000;
}

/* vet ej slut */ 



@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.parallax {
  background-image: url(img/lampshop.jpg);
  min-height: 300px; 
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url(img/patternsdeco/strossel.jpg);
  min-height: 300px; 
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax3 {
  background-image: url(img/bro_1.jpg);
  min-height: 300px; 
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Drag and drop */

#mydiv {
  position: relative;
  z-index: 9;
  padding-left: 85%;
  background-color: none;
  text-align: center;
  border: none;
}

#mydiv2 {
  position: absolute;
  z-index: 9;
  background-color: none;
  text-align: center;
  border: none;
}


.dragimg {
  width: 110px;
  position: absolute;
  padding-top: 20px;
  cursor: grab;
}


#dragimg {
  max-width: 30px;
  cursor: move;
  z-index: 10;
  color: #fff;
}

/* Bug divider */ 

.bugimg {
  width: 50%;
}

/* Bild och text about */

.content {
  padding: 80px;
  margin: 2%;
  }

  .content img {
    padding: 20px;
  }

    .container__text {
        padding: 20px;
        }

        .still-1 {
          position: absolute;
          z-index: 1;
        }
        
        .still-1:hover {
          opacity: 0;
        }
        .moving-1 {
          position:absolute;
        }

/* Slut bild & text about */

/* Till bildgalleriet tror jag */

.flex-column { 
  max-width : 500px;
}

/* OVERLAY på ej klickbara bilder */
.container1 {
  position: relative;
}

.image1 {
  display: block;
}

.overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fffaf1;
  opacity: 70%;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ease;
}

.container1:hover .overlay1 {
  height: 100%;
}

.text1 {
  position: absolute;
  padding: 40px;
  text-align: left;
}

/* OVERLAY på ej klickbara bilder */



/* footer gubbe snurr */

.upknapp {
  width: 70px;
}



/* Rotera 360 grader */

.rotate1 {
  animation: rotation 8s infinite linear;
  max-width: 60px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Zoom effekt */

.zoom {
  background-color: none;
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
  
.vert-move {
  width: 100px;
}

    /* Animation hovering */

    img.vert-move {
      -webkit-animation: mover 1s infinite  alternate;
      animation: mover 1s infinite  alternate;
    }
    img.vert-move {
      -webkit-animation: mover 1s infinite  alternate;
      animation: mover 1s infinite  alternate;
    }
    @-webkit-keyframes mover {
      0% { transform: translateY(0); }
      100% { transform: translateY(-10px); }
    }
    @keyframes mover {
      0% { transform: translateY(0); }
      100% { transform: translateY(-10px); }
    }
    

/*FLYGANDE RALL GIF*/

.footerimage img {
  width: 10%;
  position: fixed;
  right: 0px;
  bottom: 10px;
  z-index:1000
}

.still {
  position: absolute;
  z-index: 1;
}

.still:hover {
  opacity: 0;
}
.moving {
  position:absolute;
}
/*SLUT RALL KNAPP*/


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    float: none;
    padding-top: 50px;
    margin: 0;
    position: relative;
  }

  .sideimg a {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  div.links {
    margin: auto;
    float: none;
  }
  div.sideimg img .active {
    float: right;
    height: 50%;
  }
  .insta {
    float: none;
    width: 50%;
  }
  div.container {
    margin: 0;
  }

.footerimage {
  display: none;
}

.mydiv {
  display: none;
  }

  .dragimg {
    display: none;
  }

  .footerh1 h1 {
    font-size: 26px;
  }

  .footerp1 p1 {
    font-size: 16px;
  }

  .moving-1 {
    display: none;
    padding: 0;
  }

  .stilla {
    display: none;
    padding: 0px;
        }

  .still-1 {
    position: relative;
    z-index: 1;
    padding: 0px;
  }
  
  .moving-1 {
    position: relative;
    padding: 0px;
  }

  .content {
    padding: 30px;
  }


.myfooter {
  width: 100%;
}
}


/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidenav {
    width: 100%;
    height: auto;
    float: none;
    margin: 0;
    position: relative;
  }
  .sideimg a {
    float: right;
  }
  .links {
    margin: auto;
    float: none;
  }
  .sideimg img .active {
    float: right;
    height: 50%;
  }
  .insta {
    float: none;
    width: 50%;
  }
  div.container {
    margin: 0;
    width: 100%;
  }

  .mydiv {
    display: none;
    }

    .dragimg {
      display: none;
    }

    .footerh1 h1 {
      font-size: 26px;
    }

    .footerp1 p1 {
      font-size: 16px;
    }

    .moving-1 {
      display: none;
      padding: 0px;
    }

    .stilla {
  display: none;
  padding: 0px;
    }

    .still-1 {
      position: relative;
      z-index: 1;
      padding: 0px;
    }
    
    .moving-1 {
      position: relative;
      padding: 0px;
    }
  
    .content {
      padding: 30px;
    }
/*
    .parallax { 
      background-image: url(img/lampshop.jpg);
      background-size: 500px;
      background-repeat: no-repeat;
      }
    
      .parallax2 { 
        background-image: url(img/patternsdeco/strossel.jpg);
        background-size: 500px;
        background-repeat: no-repeat;
        }
    
        .parallax3 { 
          background-image: url(imgabout/red8.1.jpg);
          background-size: 500px;
          background-repeat: no-repeat;
          }*/

}

