body {
  background-color: white;
  font-family: "gill sans", sans-serif;
}

.header {
  margin: 100px;
}

  .sidenav {
    height: 100%;
    width: 260px;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: none;
    overflow: auto;
  }

.sidenav img{
  width: 150px;
  float: none;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
 border: 3px white;
 padding: 0px;
}

.static {
  width: 70%;
  position:absolute;
  background:
}

.static:hover {
  opacity:0;
}

.sidenav a {
  padding: 0px 10px 10px 25px;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2px;
  color: #775b44;
  display: block;
}

.sidenav a:hover {
  color: #da8181;
}

.main {
  margin-left: 260px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 0px;
}
.insta img {
  width: 12%;
  height: 12%;
}

.insta:hover {
    opacity: 0.5;
}

/* SLUTET PÅ SIDMENYN*/


.container {
  margin-left: 260px;
  height: auto;
  padding: 40px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.img-box-liten {
  position: relative;
  display: block;
  width: 33%;
}

.img-box-liten img {
  display: block;
  width: 100%;
  height: auto;
}

.img-box-liten:hover > .overlay {
  opacity: 0.7;
  cursor: default;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #cfa854;
}

.text {
  color: black;
  font-size: 18px;
  position: absolute;
  font-family: "Baskerville";
  font-weight: 300;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}


.img-box-medel {
  position: relative;
  width: 49%;
  height: auto;
  display: block;
}

.img-box-medel img {
  display: block;
  width: 100%;
}

.img-box-medel:hover > .overlay {
  opacity: 0.7;
  cursor: default;
}

.img-box-stor {
  position: relative;
  max-width: 100%;
  height: auto;
  display: block;
}

.img-box-stor img {
  display: block;
  max-width: 100%;
}

.img-box-stor:hover > .overlay {
  opacity: 0.7;
  cursor: default;
}



/*
.container {
  margin-left: 260px;
  height: auto;
  padding: 40px;

}

.medelstor {
  width: 49%;
}
.liten {
  width: 33%;
}
.stor {
  width: 100%;
}*/

/*FLYGANDE RALL GIF*/

.footerimage img {
  width: 10%;
  position: fixed;
  right: 0px;
  bottom: 10px;
  z-index:1000
}

.still {
  position: absolute;
  z-index: 1;
}

.still:hover {
  opacity: 0;
}
.moving {
  position:absolute;
}
/*SLUT RALL KNAPP*/

.myfooter {
  width: 100%;
  height: 30px;
}



/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    float: none;
    margin: 0;
    position: relative;
  }

  .sideimg a {
    float: right;
  }
  div.links {
    margin: auto;
    float: none;
  }
  div.sideimg img .active {
    float: right;
    height: 50%;
  }
  .insta {
    float: none;
    width: 50%;
  }
  div.container {
    margin: 0;
    width: 100%;
  }
.img-box-liten {
  width: 100%;
}
.img-box-medel {
  width: 100%
}
.img-box-stor {
  width: 100%
}

}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidenav {
    width: 100%;
    height: auto;
    float: none;
    margin: 0;
    position: relative;
  }
  .sideimg a {
    float: right;
  }
  .links {
    margin: auto;
    float: none;
  }
  .sideimg img .active {
    float: right;
    height: 50%;
  }
  .insta {
    float: none;
    width: 50%;
  }
  div.container {
    margin: 0;
    width: 100%;
  }

  .img-box-liten {
    width: 100%;
  }
  .img-box-medel {
    width: 100%
  }
  .img-box-stor {
    width: 100%
  }

}
