body {
  background-color: #d5cdcb !important;
  font-family: "gill sans", sans-serif !important;
}

html, body {width: auto!important; overflow-x: hidden!important}

.header {
  margin: 100px;
}


  .sidenav {
    height: 100%;
    width: 260px;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: none;
    overflow: auto;
  }

.sidenav img{
  width: 150px;
  float: none;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
 border: 3px white;
 padding: 0px;
}

.static {
  width: 70%;
  position:absolute;
}

.static:hover {
  opacity:0;
}

.sidenav a {
  padding: 0px 10px 10px 25px !important;
  text-decoration: none !important;
  font-size: 12px !important;
  letter-spacing: 2px !important;
  color: #775b44 !important;
  display: block;
}

.sidenav a:hover {
  color: #da8181 !important;
}

.main {
  margin-left: 260px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 0px;
}
.insta img {
  width: 12%;
  height: 12%;
}

.insta:hover {
    opacity: 0.5;
}

/* SLUTET PÅ SIDMENYN*/

/* Parallax 1 i toppen */


.container-block {
  max-width: 100%;
  background-image: url("/imgabout/red8.1.jpg");
  min-height: 210px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Bild och text */

.content {
  margin-left: 100px !important;
  padding: 80px;
  margin: 2%;
  }

  .content img {
    padding: 20px;
  }

    .container__text {
        padding: 20px;
        }

        .still-1 {
          position: absolute;
          z-index: 1;
        }
        
        .still-1:hover {
          opacity: 0;
        }
        .moving-1 {
          position:absolute;
        }

    
      


/* Paralax 2 under texten */


        .container-block2 {
          max-width: 100%;
          background-image: url("/imgabout/prickarrosa.jpg");
          min-height: 400px; 
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          margin-left: 260px;
        }




        /* Scroll i toppen */

.roll {
  background-color: none;
  height: 40px;
  width: 100%;
  position: fixed;
}

p1 {
  color: #775b44;
  font-style: italic;
  font-size: 12px !important;
  letter-spacing: 2px !important;
}


/* Stilen på texten om mig */

h2 {
  font-family: "gill sans";
  color: #7e634d;
font-weight: 300;
  font-size: 38px;
}
p {
  font-size: 16px;
  color: #775b44;
  font-family: "baskerville";
}
h3 {
  font-family: "gill sans";
  color: #7e634d;
  font-weight: 300;
  font-size: 24px;
}
h4 {
  font-family: "gill sans";
  color: LIGHTgray;
  font-size: 16px;
}


/*FLYGANDE RALL GIF*/

.footerimage img {
  width: 10%;
  position: fixed;
  right: 0px;
  bottom: 10px;
  z-index:1000
}

.still {
  position: absolute;
  z-index: 1;
}

.still:hover {
  opacity: 0;
}
.moving {
  position:absolute;
}

/*SLUT RALL KNAPP*/

.footerbackground {
  width: 100%;
  text-align: center;
  position: relative;
}

.footertext {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 10px;
    text-transform: uppercase;
    background-color: white;
}



/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    float: none;
    padding-top: 50px;
    margin: 0;
    position: relative;
  }

  .sideimg a {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  div.links {
    margin: auto;
    float: none;
  }
  div.sideimg img .active {
    float: right;
    height: 50%;
  }
  .insta {
    float: none;
    width: 50%;
  }


  .content {
    margin: 0 !important;
    width: 100%;
  }

div.content img {
  size: 100%;
  position: relative;
}

.stilla {
    display: none;
}

.container__text {
  width: 100%;
  }

  .img-box-medel {
  width: 100%
  }
  .img-box-stor {
  width: 100%
  }
  .footerimage {
  display: none;
  }

  .container-block {
    width: 100%;
    background-size: contain;
  }

  .container-block2 {
    width: 100%;
  }


  }

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidenav {
    width: 100%;
    height: auto;
    float: none;
    margin: 0;
    position: relative;
  }
  .sideimg a {
    float: right;
  }
  .links {
    margin: auto;
    float: none;
  }
  .sideimg img .active {
    float: right;
    height: 50%;
  }
  .insta {
    float: none;
    width: 50%;
  }

  .content {
    margin: 0 !important;
    width: 100%;
  }

  .container-block {
    width: 100%;
    background-size: contain;

  }

  .container-block2 {
    width: 100%;

  }

  .content img {
      size: 75%;
    }

    .stilla {
      display: none;
  }

    .container__text {
    width: 100%;
    }

}
